pipeline/1 Functioning Pipeline1 Set Variables and If Condition.json
{
	"name": "1 Functioning Pipeline1 Set Variables and If Condition",
	"properties": {
		"description": "Set variables, \nIf Condition",
		"activities": [
			{
				"name": "Set Value for File Type",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.FileName,'Sales', '')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"description": "If name of the file is Hourly, then upload to table dbo.CarsHourlySales in Azure SQL. \n\nElse upload to dbo.CarsDailySales",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Value for File Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileType'),'Hourly')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy to CarsDailySales table in AzureSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OneDYNAMICDatasettoBLOB",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "carscountriesmovies",
										"FileName": {
											"value": "@pipeline().parameters.FileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OneDYNAMICDatasettoAzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"TablenameinAzureSQLDB": "CarsDailySales"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy to CarsHourlySales table in AzureSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'carscountriesmovies'}//@{pipeline().parameters.FileName}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{'CarsHourlySales'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Model",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Model",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Length",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Length",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OneDYNAMICDatasettoBLOB",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "carscountriesmovies",
										"FileName": {
											"value": "@pipeline().parameters.FileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OneDYNAMICDatasettoAzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"TablenameinAzureSQLDB": "CarsHourlySales"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-02T22:12:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}