pipeline/2FunctioningPipeline2- GetMetadata-ForEach-withArray-Copy-fromBlobtoSQL.json
{
	"name": "2FunctioningPipeline2- GetMetadata-ForEach-withArray-Copy-fromBlobtoSQL",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{'cars_copy'}"
								},
								{
									"name": "Destination",
									"value": "@{'array-foreach-copy'}//@{'<FileName>'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@item()",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "StaticDatasetBlob",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "StaticSqlSourceforPipeline2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "StaticDatasetBlob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"TablesList": {
				"type": "Array",
				"defaultValue": [
					"Select * from Cars",
					"Select * from Cars2",
					"Select * from Cars_copy"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T03:02:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}